<div class="panel-heading">
  <h3 class="text-center">{{title}}</h3>
  {{!-- if value passed for number, show number
  otherwise, show '...' --}}
  <h1 class="text-center">{{if number number '...'}}</h1>
</div>